:root {
  font-family: 'Lato', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f5fb;
  color: #1f2a44;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
