.header {
  -webkit-app-region: drag;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e7eb;
  flex-shrink: 0;
  z-index: 10;

  .header-left {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 5px;
    gap: 6px;
    height: 100%;

    .header-title {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .header-center {
    -webkit-app-region: no-drag;
    flex: 1;
    height: 46px;
    display: flex;
    justify-content: center;
    z-index: 20;

    .header-center-inner {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 4px;
    }
  }

  .header-right {
    padding: 0 10px;
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
